<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block title %}{{site.name|upper}}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{site.name}}"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.no-icons.min.css" media="screen"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css"/>
    <link rel="stylesheet" href="{{assets}}/css/util.css"/>
    <link rel="stylesheet" href="{{assets}}/css/layout.css" media="screen"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />    

{% block css %}
{% endblock css %}

</head>
<body lang="en-GB">
    {% block navigation %}

    {% endblock navigation %}

    <div class="container">

	{% block pageheader %}
	    <header class="row{{fluid}}">
		{% block header %}
		{% endblock header %}
	    </header>
	{% endblock pageheader %}

	<article class="mainbody">
	    {% block main %}
	    {% endblock main %}
	</article>

	{% block pagefooter %}
	    <footer class="row{{fluid}}">
		{% block footer %}
		{% endblock footer %}
	    </footer>
	{% endblock pagefooter %}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <script src="{{assets}}/js/bootbox.min.js"></script>

    {% block scripts %}
    {%endblock scripts %}

    <script>
	{% block setup %}
	{% endblock setup %}

	var subd = '{{subd}}';

	$(function(){
	    {% block onload %}
	    {% endblock onload %}
	});
  
    </script>
</body>
</html>
