{% extends 'base.twig' %}

{% block navigation %}
{% endblock navigation %}

{% block header %}
{% endblock header %}

{% block main %}

   {% include 'navbar.twig' %}
   
   <div class="belowNavbar">
       <div class="row">
           <div class="span12">
              <form method="post" action="searchresults" class="form-inline" >
                 <input name="topics" class="span5" type="text" id="search" data-provide="typeahead" data-items="4"  placeholder="Search topics" autocomplete="off">
                 <button type="submit" class="btn btn-primary"> <i class="icon-search icon-white"></i></button>
              </form>
           </div>
       </div>
   </div>
        
   <div class="row">
   {% for proposal in recentProposals %}
     <div class="span8">
        <hr>
        <div class="row">
           <div class="span8">
               <h4><strong>{{proposal.title}}</strong></h4>
           </div>
           </div>
           <div class="row">
              <div class="span8">
                   <p>
                        {{proposal.content}}
                   </p>
                   <p><a class="btn" href="userinfo?id={{proposal.id}}">Contact User</a></p>
                </div>
           </div>
           <div class="row">
              <div class="span8">
                    <p>
                        <i class="icon-user"></i> by <a href="userinfo?id={{proposal.id}}">{{proposal.name}}</a> 
                        | <i class="icon-calendar"></i> {{proposal.date}}                     
                    </p>
              </div>
           </div>            
     </div>                                        
    {% endfor %}
    </div>  

{% endblock main %}

{% block footer %}
{% endblock footer %}
