{% extends 'base.twig' %}

{% block navigation %}
{% endblock navigation %}

{% block header %}
{% endblock header %}

{% block main %}
   
    {% include 'navbar.twig' %}
    
    <div class="belowNavbar">        
        
        <div id="tab" class="btn-group" data-toggle="buttons-radio">
          <a href="#inbox" class="btn active" data-toggle="tab">Inbox</a>
          <a href="#sentitems" class="btn" data-toggle="tab">Sent Items</a>
        </div>
        
        <div class="tab-content">
          <div class="tab-pane active" id="inbox">          
            <div class="row">
                {% for message in inbox %}
                    <div class="span8">
                        <hr>
                        <div class="row">
                            <div class="span8">
                                <h4><strong>Subject: " {{message.subject}} "</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <p>
                                    {{message.body}}
                                </p>
                                <p><a class="btn" href="#">Reply</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <p>
                                    <i class="icon-user"></i> from <a href="userinfo2?email={{message.fromemail}}">{{message.fromname}}</a> 
                                    | <i class="icon-calendar"></i> {{message.date}}                     
                                </p>
                            </div>
                        </div>
                    </div>                                        
                {% endfor %}
            </div>                    
          </div>    
                
          <div class="tab-pane" id="sentitems">
            <div class="row">
                {% for message in sentitems %}
                    <div class="span8">
                        <hr>
                        <div class="row">
                            <div class="span8">
                                <h4><strong>Subject: " {{message.subject}} "</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <p>
                                    {{message.body}}
                                </p>
                                <p><a class="btn" href="#">Reply</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <p>
                                    <i class="icon-user"></i> to <a href="userinfo2?email={{message.toemail}}">{{message.toname}}</a> 
                                    | <i class="icon-calendar"></i> {{message.date}}                     
                                </p>
                            </div>
                        </div>
                    </div>                                        
                {% endfor %}
            </div>                             
          </div>                
        </div>                          
     </div>   
{% endblock main %}

{% block footer %}
{% endblock footer %}
