{% extends 'base.twig' %}

{% block navigation %}

        <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                        <div class="container-fluid">
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                </a>
                                <div class="brand" >Science Connect</div>
                                <div class="nav-collapse collapse">
                                        <ul class="nav">
                                                <li><a href="{{subd}}/home"><i class="icon-home icon-white"></i> Home</a></li>
                                                <li class="divider-vertical"></li>
                                                <li><a href="{{subd}}/profile"><i class="icon-user icon-white"></i> Profile</a></li>
                                                <li class="divider-vertical"></li>
                                                <li><a href="{{subd}}/messages"><i class="icon-envelope icon-white"></i> Messages</a></li>
                                                <li class="divider-vertical"></li>
                                                <li><a href="{{subd}}/proposals"><i class="icon-file icon-white"></i> Proposals</a></li>
                                                <li class="divider-vertical"></li>
                                        </ul>
                                       <div class="btn-group pull-right">
                                               
                                             <a href="{{subd}}/logout" class="btn"><i class="icon-share"></i> Logout- {{user}}</a>

                                        </div>                                     
                                   
                                </div>
                                <!--/.nav-collapse -->
                        </div>
                        <!--/.container-fluid -->
                </div>
                <!--/.navbar-inner -->
        </div>
        <!--/.navbar -->
{% endblock navigation %}

{% block header %}

{% endblock header %}

{% block main %}

{% endblock main %}

{% block footer %}

{% endblock footer %}
