{% extends 'base.twig' %}

{% block navigation %}
{% endblock navigation %}

{% block header %}
{% endblock header %}

{% block main %}

    {% include 'navbar.twig' %}
    <div class="belowNavbar">
        <div class="container-narrow">                    
          <fieldset>
            <div id="legend">
                <legend class="">User Profile</legend>
            </div>
                  
            <div class="control-group">
              <!-- Name -->
              <label class="control-label" for="name">Name</label>
              <div class="controls">
                  <input type="text" id="name" name="name" placeholder="" value="{{userDetails.name}}" readonly class="input-xlarge" required>        
              </div>
            </div>

            <div class="control-group">
              <!-- Email -->
              <label class="control-label" for="email">Contact Email</label>
              <div class="controls">
                  <input type="text" id="email" name="email" placeholder="" value="{{userDetails.email}}" readonly class="input-xlarge" required>        
              </div>
            </div>    

            <div class="control-group">
              <!-- University -->
              <label class="control-label" for="university">University</label>
              <div class="controls">
                  <input type="text" id="university" name="university" placeholder="" value="{{userDetails.university}}" readonly class="input-xlarge" required>        
              </div>
            </div>          

            <div class="control-group">
              <!-- Address -->
              <label class="control-label" for="Address">Address</label>
              <div class="controls">
                  <input type="text" id="address" name="address" placeholder="" value="{{userDetails.address}}" readonly class="input-xlarge" required>        
              </div>
            </div>

            <div class="control-group">
              <!-- Number -->
              <label class="control-label" for="number">Contact Number</label>
              <div class="controls">
                  <input type="text" id="number" name="number" placeholder="" value="{{userDetails.number}}" readonly class="input-xlarge" required>        
              </div>
            </div>          
          </fieldset>    
                
          <a href="#myModal" role="button" class="btn" data-toggle="modal">Edit Profile</a>
          
        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="myModalLabel">Edit Profile</h3>
          </div>
          <div class="modal-body">    
            <form action='editprofile' method="POST">
                <label class="control-label" >Full Name</label>
                <input type="text" id="editname" name="editname" value="{{userDetails.name}}" required>  
                <label class="control-label" >Email</label>
                <input type="text" id="editemail" name="editemail" value="{{userDetails.email}}" required> 
                <label class="control-label" >University</label>
                <input type="text" id="edituniversity" name="edituniversity" value="{{userDetails.university}}" required> 
                <label class="control-label" >Address</label>
                <input type="text" id="editaddress" name="editaddress" value="{{userDetails.address}}" required> 
                <label class="control-label" >Contact Number</label>
                <input type="text" id="editnumber" name="editnumber" value="{{userDetails.number}}" required> 
                <hr>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-primary" type="submit">Save Changes</button>              

                </form>
          </div>        
        </div>          
      </div>              
            </div>
{% endblock main %}


{% block scripts %}



    
{%endblock scripts %}


{% block footer %}

{% endblock footer %}
